/*=========================VARIABLES==================*/
* {
  font-family: "Ubuntu"; }

a {
  color: #000; }

a:hover {
  border: 3px solid #000;
  font-style: none;
  color: #000; }

/*=========================/VARIABLES==================*/
header {
  background-color: #FFD800;
  background-image: url(../img/header_bgr.jpg);
  background-size: 100% 100%;
  min-height: 17vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
  height: 17vh; }

div.col-md-12.header {
  padding: 0 0;
  height: 17vh; }

div.table {
  height: 17vh;
  display: table; }

div.table2 {
  height: 8.5vh;
  display: table; }

div.tableCell {
  display: table-cell;
  vertical-align: middle; }

.img_logo {
  width: 13vw;
  display: block;
  margin: auto; }

.location {
  font-weight: 900;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px; }

.phones {
  font-weight: bold;
  font-size: 1.725vw;
  text-align: center; }

div.row.headerWidth {
  height: 17vh; }

.options {
  font-size: 1.25vw;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold; }

p.options.rental {
  color: #fff;
  text-align: center;
  font-weight: 100;
  box-sizing: border-box; }

/*=========================END OF HEADER==================*/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    background-color: #ffd800;
    background-image: none;
    max-height: none; } }

/* Small Devices, Tablets */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
