$yellow: #ffd800;

$hsm: 1.25vw; /* Header small */
$hb: 1.5vw; /* Header big */
$sc1b: 2.1vw;  /* first screen big */
$stratum:4.5vh;
$U: 'Ubuntu';

*{
    font-family: $U;
}


div.container-fluid{
    padding:0;
}
a{
    color: #000;
}

a:hover{
    border: none;
    font-style: none;
    color: #000;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

a.anchor{
  display: block;
  height:17vh;
  margin-top:-17vh;
  visibility: hidden;
}


header{
    background-color: #FFD800;
    background-image: url(../img/header_bgr.jpg);
    background-size:100% 100%;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
    height: 17vh;
    width: 100%;
    position: fixed;
}

.headerHeigh{
    height: 17vh;
    min-height: 100px;
}

div.row.headerWidth{
    height: 17vh;
    min-height: 100px;
}

.headerHeighOptions{
    height: 8.5vh;
    min-height: 50px;
}

div.alignVH{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.col-md-12.header{
    padding: 0 0;
    height: 17vh;
    min-height: 100px;
}

.img_logo{
    width: 13vw;
    display: block;
    margin: auto;
}

.location{
    font-weight: 900;
    font-size: $hb;
    text-align: center;
    padding-top:10px;
    padding-left: 10px;
}

.phones{
    font-weight: bold;
    font-size: $hb*1.15;
    text-align: center;
}

.options{
    font-size: $hsm;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold; 
    border: 3px solid transparent;  
}
.options:hover{
    border: 3px solid #000;
}

p.optionsRental{
        color: #fff;
        text-align: center;
        font-weight: 100;
        box-sizing: border-box;
        font-size: $hb*0.8;
}

.optionsRentalSVG{
    width: 15%;
    padding-left:30px;
    padding-right:30px;
}

/*==END OF HEADER==*/


.page{
    height: 83vh;
}

.images1page{
    width: 85%;
}

div.page > .row > .col-md-4 > div{
    text-align: center;
    margin: auto;
    display: block;
}

div.col-md-12.images1PageSircle{
    width: 20vw;
    height: 20vw;
    background-color: $yellow;
    border-radius:100%;
}

div.col-md-12.images1PageSircle:hover{
    background-color: #fff;
    border: 6px solid $yellow;
}

div.col-md-12.images1PageSircle>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100%;
}

div.col-md-12.images1PageSircle a p{
   display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $sc1b*0.8;
    margin-top: 5%;  
}

div.col-md-4.page1cols{
    display: flex;
    flex-direction: column;
    height: 84vh;
}

#mainTextPage1>div{
    margin-top: 30%;
}

#mainTextPage1>div>p,
#mainTextPage1>div>a{
    font-size: $sc1b;
}

#mainTextPage1>div>a{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: $yellow;
    border-radius: 50px;
    width: 70%;
    height: 10vh;
    margin: auto;
    margin-top: 15%;
    font-size: $sc1b*0.9;
    font-weight: 700; 
}

#mainTextPage1>div>a:hover{
    border: 6px solid $yellow;
    background-color: #fff;
}

div.col-md-12.aboutTextPage1 a p{
    font-size: $sc1b*0.65; 
    border: 6px solid $yellow;
    border-radius: 10px;
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: $yellow;
}

div.col-md-12.aboutTextPage1 a p:hover{
    border: 6px solid $yellow;
    background-color: #fff;
}

// Additional piece
div.aditional.first{
    height: 23vh;
    background-color: $yellow;
    width: 100%;
}

div.aditional.first div p{
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $stratum;
    font-weight: bold;
    text-align: center;
}
//2 and 3 page
div.mainPage{
    height: 83vh;
}

.div2and3page{
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name2and3page{
    font-size: $stratum*1.5;
    text-align: center;
    margin-bottom: 7vh;
}

.image2and3page{
    width: 100%;
    padding: 0 5% ;
}

div.topOptions,
div.bottomOptions{
    padding-top:5vh;
    font-size: $stratum*0.65;
    text-align: center;
}

.advertisementText{
    padding-top: 5vh;
    font-weight: bold;
}

.advertisementImages{
    width: 100%;
}

.bottomOptions{
    margin-top:25vh;
}

div.mainPage.row>div{
    padding: 0; 
}

//4 page

ul{
    list-style-type:none;
}

.optionsList>li{
    font-size: $sc1b*0.75;
    padding-top:2vh;
}
.optionsList li >i{
    color: $yellow;
}


.optionsPic{
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
}

//page5

div.col-md-12.caption>p{
    font-size: $stratum*1.5;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

div.col-md-6 > .price{
    height: 35vh;
    text-align: center;
    font-size: $sc1b*0.8;  
    background-color:$yellow;
    width: 80%;
    margin: 0 auto;
    display: flex;
   justify-content: center;
   flex-direction: column;
}

p.specialOffer{
    font-size: $sc1b*0.8 !important;
}

div.col-md-12.last{
    text-align: center;
    padding-top: 5vh;
}

//footer
footer{
    height: 17vh;
    background-color: #000;
    color: #fff;
}

div.col-md-4.footerCols{
    display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 3vh;
}

div.col-md-4.footerCols > p{
    font-size: $sc1b*0.6; 
    text-align: center;
    margin: auto;
}

p.author{
    margin-top: 3.5vh !important;
}

p.author>a{
    color:#fff;
}



@media only screen and (max-width : 1230px) {
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 header{
            background-color: $yellow;
            background-image: none;
            max-height: none;

        }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {
    
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
 }